{
    "env": {
        "browser": true,
        "es2020": true,
    },
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
        },
        "ecmaVersion": 11,
        "sourceType": "module",
    },
    "plugins": [
        "react",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "printWidth": 120,
                "trailingComma": "es5",
                "endOfLine": "auto",
            }
        ],
        "react/forbid-prop-types": 0,
        "import/prefer-default-export": 0,
        "react/jsx-props-no-spreading": 0,
        "react/jsx-filename-extension": 0,
    },
    "settings": {
        "import/core-modules": [
            "react"
        ]
    }
}